{{{{raw}}}}
<header>
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="{{base}}/index.html">
                    <img src="../../../static/app/1.0.0/img/logo-big.png"
                         width="116"/>
                    <h1 class="logo-text">三泰铭品消费金融业务系统</h1>
                </a>
            </div>
            <div class="pull-left">
                <ul class="main-menu nav navbar-nav pull-left" id="mainMenu">
                    {{#each mainMenus}}
                        <li>
                            <a class="nav-item"
                               id="{{idName}}"
                               data-action="{{actionName}}"
                               href="javascript:;"
                                style="background-image: url(../../../static/app/1.0.0/img/tools/{{styleObject.iconClassName}}); background-size:25px;"
                               >{{text}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="user-status">
            <div class="pull-right">
                <div class="login-info" id="loginInfo">
                <a href="javascript:;" onclick="showLogin();">
                  <img src="/static/app/1.0.0/img/user01.png"/>
                  <span>{{userInfo.loginName}}</span>
                </a>
                <ul style="display: none">
                  <li><a href="{{cubase}}/cu/personal-settings/personal-info-maintenance.html">个人信息</a></li>
                  <li><a href="{{cubase}}/cu/personal-settings/update-password.html">修改密码</a></li>
                  <li class="li-time">上次登录时间</br>{{formatLoginTime02 userInfo.loginTime}}</li>
                  <li><a href="{{cubase}}/login.html">退出登录</a></li>
                </ul>
              </div>
            </div>
        </div>
        <div>
            <!--<div class="menu-toggler sidebar-toggler">-->
                <!--<span>我的快捷键</span>-->
            <!--</div>-->
        </div>
    </div>
</header>
{{{{/raw}}}}