{{{{raw}}}}
<div class="page-sidebar" data-menu-store="menus">
    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu">
        {{#each menus}}
        <li class="nav-item">
            <a href="{{../base}}{{url}}"
               class="nav-link"
            > {{{menu-icon}}}<span class="title">{{text}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
{{{{/raw}}}}