{{{{raw}}}}
<header>
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="{{base}}/index.html">
                    <img src="{{path.app}}/img/logo-big.png"
                         width="116"/>
                    <h1 class="logo-text">柏诚消费金融业务系统</h1>
                </a>
            </div>
            <div class="pull-right">
                <ul class="main-menu nav navbar-nav pull-right">
                    {{#each mainMenus}}
                        <li>
                            <a class="nav-item {{menuIcon}}{{#if (menu-active)}} active{{/if}}"
                                {{#if (has-children)}}
                               href="javascript:;"
                                {{else}}
                               href="{{../base}}{{url}}"
                                {{/if}}
                            >
                                {{text}}
                            </a>
                            <ul class="sub-menu">
                                {{#each children}}
                                    <li class="nav-item">
                                        <a href="{{../../base}}{{url}}"
                                           class="nav-link{{#if (has-children)}} nav-toggle{{/if}}"
                                        >
                                            <span class="title">{{text}}</span>
                                        </a>
                                        <ul class="sub-menu">
                                            {{#each children}}
                                                <li class="nav-item">
                                                    <a href="{{../../../base}}{{url}}"
                                                       class="nav-link">
                                                        <span class="title">{{text}}</span>
                                                    </a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="user-status">
            <p class="pull-right">
                <span class="user-status-img">登录人：{{userInfo.loginName}}</span>
                <span>登录时间：{{formatLoginTime userInfo.loginTime}}</span>
                <a class="user-logout" href="#">退出</a>
            </p>
        </div>
        <div>
            <div class="menu-toggler sidebar-toggler">
                <span>我的快捷键</span>
            </div>
        </div>
    </div>
</header>
{{{{/raw}}}}