<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  {{#block "title"}}
  <title>消费金融平台</title>
  {{/block}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link rel="stylesheet" href="{{path.google}}/fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/uniform/css/uniform.default.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"/>
  {{#block "css-plugins"}}
  {{/block}}
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/bootstrap-toastr/toastr.min.css" />
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/css/components.min.css" id="style_components"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/css/plugins.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/layouts/layout/css/layout.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/layouts/layout/css/themes/darkblue.min.css" id="style_color" />
  <link rel="stylesheet" href="{{path.metronic}}/assets/layouts/layout/css/custom.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/jstree/dist/themes/default/style.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css"/>
  <link rel="stylesheet" href="{{path.metronic}}/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css"/>
  {{#block "css-main"}}
  {{/block}}
  <link rel="stylesheet" href="{{path.app}}/css/app.css"/>
  <link rel="stylesheet" href="{{path.app}}/css/app-plugins.css"/>
  <link rel="shortcut icon" href="{{path.app}}/img/favicon.ico"/>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
  {{#block "content-free"}}
  {{/block}}
  <script id="main_template" type="text/x-handlebars-template">
{{{{raw}}}}
  <div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
      <div class="page-logo">
        <a href="{{path.base}}/index.html"><img src="{{path.app}}/img/logo-big.png" class="logo-default" width="160" height="30" style="margin-top: 12px;"></a>
        <div class="menu-toggler sidebar-toggler"> </div>
      </div>
      <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <i class="icon-bell"></i>
              <span class="badge badge-default"> {{inboxs.length}} </span>
            </a>
            <ul class="dropdown-menu">
              <li class="external">
                <h3>系统消息提醒</h3> <a href="{{path.base}}/inboxs.html">查看所有</a>
              </li>
              <li>
                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                  {{#each inboxs}}
                  <li>
                    <a href="{{path.base}}/inbox/unread/{{id}}">
                      <span class="time">{{createTime}}</span>
                      <span class="details">
                        <span class="label label-sm label-icon label-warning"> <i class="fa fa-bell-o"></i> </span>
                        {{summary}}
                      </span>
                    </a>
                  </li>
                  {{/each}}
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <img alt="" class="img-circle" src="{{path.metronic}}/assets/layouts/layout3/img/avatar9.jpg">
              <span class="username username-hide-mobile">{{loginUser.realName}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li><a href="{{path.base}}/profile/index.html"><i class="icon-user"></i> 个人信息 </a></li>
              <li class="divider"></li>
              <li><a href="#" data-change-menu-location-url="{{path.base}}/change-menu-location/{{menuNextLocation}}" ><i class="fa fa-gear"></i> 切换页面风格 </a></li>
              <li><a href="#" data-target="#chgloginpwd-modal" data-toggle="modal"><i class="icon-user"></i> 修改密码 </a></li>
              <li><a href="{{path.base}}/logout"> <i class="icon-key"></i> 退出 </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="chgloginpwd-modal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"><i class="fa fa-edit"></i> <strong><span id="chgloginpwd-msg">修改登录密码</span>（{{loginUser.loginName}}）</strong></h4>
        </div>
        <div class="modal-body form">
          <form id="edit-user-passwd" action="{{path.base}}/profile/change-login-password" role="form" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <label class="control-label col-md-3">原登录密码 <span class="required"> * </span></label>
                <div class="col-md-9">
                  <input type="password" name="plainOldPassword" class="form-control" data-rule-required="1">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">新登录密码 <span class="required"> * </span></label>
                <div class="col-md-9">
                  <input type="password" name="plainNewPassword" id="password" class="form-control passwordCheck" data-rule-required="1">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">新密码确认 <span class="required"> * </span></label>
                <div class="col-md-9">
                  <input type="password" name="plainNewPassword_" class="form-control" data-rule-equalto="#password" data-msg-equalto="两次密码不一致" data-rule-required="1">
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="submit" class="btn btn-success">提交</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"> </div>

  <div class="page-container">
    <div class="page-sidebar-wrapper">
      <div class="page-sidebar navbar-collapse collapse" data-menu-store="menus"></div>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        {{#unless forceChangeLoginPassword}}
{{{{/raw}}}}
        {{#block "content-main"}}
        {{/block}}
        <div class="clearfix"></div>
        {{#block "content-pagination"}}
        {{> pagination}}
        {{/block}}
{{{{raw}}}}
        {{/unless}}
{{{{/raw}}}}
      </div>
    </div>
    <a href="javascript:;" class="page-quick-sidebar-toggler">
      <i class="icon-login"></i>
    </a>
  </div>

  <div class="page-footer">
    <div class="page-footer-inner">  2016 &copy; 中科柏诚科技(北京)股份有限公司. </div>
    <div class="scroll-to-top">
      <i class="icon-arrow-up"></i>
    </div>
  </div>
  </script>
  <script>
  +function() {
    window.app = {};
  } ();
  </script>

  <!--[if lt IE 9]>
  <script src="{{path.metronic}}/assets/global/plugins/respond.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/excanvas.min.js"></script> 
  <![endif]-->
  <script src="{{path.handlebars}}/handlebars.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery.min.js"></script>
  <script src="{{path.base}}/script/app.js"></script>
  <script src="{{path.base}}/script/menus.js"></script>
  {{#block "js-loader"}}
  {{/block}}
  <script>
  +function($, app) {
    var template = Handlebars.compile($('#main_template').html());
    $('body').prepend(template(app));
  } (window.jQuery, window.app);
  </script>
  <script src="{{path.metronic}}/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/js.cookie.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery.blockui.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/uniform/jquery.uniform.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/bootbox/bootbox.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
  <script src="{{path.metronic}}/assets/global/scripts/app.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-validation/js/localization/messages_zh.js"></script>
  <script src="{{path.deserialize}}/jquery.deserialize.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
  <script src="{{path.metronic}}/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
  {{#block "js-plugins"}}
  {{/block}}
  <script>
  +function($, app) {
    bootbox.setLocale("zh_CN");
  } (window.jQuery, window.app);
  </script>

  <script src="{{path.app}}/js/validation.js"></script>
  <script src="{{path.app}}/js/app.js"></script>
  <script src="{{path.app}}/js/app-plugins.js"></script>
  <script src="{{path.app}}/js/chgloginpwd.js"></script>
  <script src="{{path.app}}/js/init.js"></script>
  <script src="{{path.app}}/js/admin/urls.js"></script>
  {{#block "js-main"}}
  {{/block}}
  <script src="{{path.metronic}}/assets/layouts/layout/scripts/layout.min.js"></script>
  <script src="{{path.metronic}}/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
</body>
</html>
