{{{{raw}}}}
<div class="page-sidebar" data-menu-store="menus">
    <ul class="ci-menus-ul">
        {{#each leftMenus}}
            <li class="">
                <a >
                    <span class="{{iconClass}}  left-list-icon"></span>
                    <span class="">{{text}}</span>
                    <span class=" icon collapse"></span>
                </a>
                <div class="children-box  {{listEnd}}">
                    {{#each children}}
                        <a href="{{../../base}}{{url}}">
                            <span class="">{{text}}</span>
                            {{#if (has-children)}}
                            <span class=" icon expand"></span>
                            {{/if}}
                        </a>
                        <div class="children-third-box third-style">
                            {{#each children}}
                                    <a href="{{../../../base}}{{url}}">
                                        <span class="">{{text}}</span>
                                        {{#if (has-children)}}
                                        <span class=" icon expand"></span>
                                        {{/if}}
                                    </a>
                                    <div class="children-third-box four-style">
                                        {{#each children}}
                                        <div class="children-third">
                                            <a href="{{../../../base}}{{url}}">{{text}}</a>
                                        </div>
                                        {{/each}}
                                    </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>

            </li>
        {{/each}}
    </ul>
</div>
{{{{/raw}}}}